body {
	margin: 0;
	padding: 0;
	background-color: #030303;
	overflow: hidden;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

#shmiga {
	height: 100%;
	display: flex;
}

#shmiga > h1 {
	display: block;
	margin: auto;
	font-size: 15vw;
	color: white;
	opacity: 0.8;
    text-shadow: 6px 6px black;
}
